body {
  padding-top: 70px;
}

.tt-dropdown-menu {
  border: 1px solid #555;
  border-radius: 3px;
  width: 100%;
  background-color: white;
}

.tt-suggestion {
  padding: 7px 5px 1px 5px;
}

.tt-suggestion.tt-cursor {
  background-color: #DDD;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 1000;
  background-color: #FFF;
  opacity: 0.3;
}
